basePath: /
definitions:
  models.Accounts:
    properties:
      email:
        type: string
      id:
        type: string
    required:
    - email
    type: object
  responses.Response:
    properties:
      data: {}
      message:
        type: string
      success:
        type: boolean
    type: object
host: localhost:8081
info:
  contact: {}
  description: dokumentasi
  title: API user & auth
  version: "1.0"
paths:
  /auth/login:
    post:
      consumes:
      - application/x-www-form-urlencoded
      parameters:
      - description: Email
        in: formData
        name: email
        required: true
        type: string
      - description: Password
        in: formData
        name: password
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/responses.Response'
            - properties:
                data:
                  $ref: '#/definitions/models.Accounts'
              type: object
      summary: Login user
      tags:
      - Auth
  /auth/register:
    get:
      parameters:
      - description: Cari email
        in: query
        name: search
        type: string
      - description: Nomor halaman (default 1)
        in: query
        name: page
        type: integer
      - description: Jumlah data per halaman (default 5)
        in: query
        name: limit
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/responses.Response'
            - properties:
                data:
                  items:
                    $ref: '#/definitions/models.Accounts'
                  type: array
              type: object
      summary: Melihat semua akun yang sudah terdaftar (Pagination + Search)
      tags:
      - Auth
    post:
      consumes:
      - application/x-www-form-urlencoded
      parameters:
      - description: User ID
        in: formData
        name: id
        required: true
        type: string
      - description: Email
        in: formData
        name: email
        required: true
        type: string
      - description: Password
        in: formData
        name: password
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/responses.Response'
            - properties:
                data:
                  $ref: '#/definitions/models.Accounts'
              type: object
      summary: Register akun baru
      tags:
      - Auth
swagger: "2.0"
