basePath: /
definitions:
  models.Accounts:
    properties:
      email:
        type: string
      id:
        type: string
      password:
        maxLength: 20
        minLength: 8
        type: string
    required:
    - email
    type: object
  responses.Response:
    properties:
      data: {}
      message:
        type: string
      success:
        type: boolean
    type: object
host: localhost:8081
info:
  contact: {}
  description: dokumentasi
  title: API user & auth
  version: "1.0"
paths:
  /auth/login:
    post:
      consumes:
      - application/json
      parameters:
      - description: Login Data
        in: body
        name: Body
        required: true
        schema:
          $ref: '#/definitions/models.Accounts'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/responses.Response'
            - properties:
                data:
                  $ref: '#/definitions/models.Accounts'
              type: object
      summary: Login user
      tags:
      - Auth
  /auth/register:
    get:
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/responses.Response'
            - properties:
                data:
                  items:
                    $ref: '#/definitions/models.Accounts'
                  type: array
              type: object
      summary: Melihat semua akun yang sudah terdaftar
      tags:
      - Auth
    post:
      consumes:
      - application/json
      parameters:
      - description: Register Data
        in: body
        name: Body
        required: true
        schema:
          $ref: '#/definitions/models.Accounts'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/responses.Response'
            - properties:
                data:
                  $ref: '#/definitions/models.Accounts'
              type: object
      summary: Register akun baru
      tags:
      - Auth
swagger: "2.0"
